body {
    padding-left: 300px;
}

.page-content {
    position: relative;
    z-index: 0;
    transition: 0.5s;
}

.toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    color: black;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
    transition: 0.5s;
}

.sidebar {
    position: fixed;
    width: 120px;
    min-height: 768px;
    padding: 30px;
    background: #333;
    top: 0;
    left: -190px;
    z-index: 0;
    transition: 0.5s;
}

ul {
    list-style: none;
}

li {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    margin-bottom: 16px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

li:hover {
    color: rgba(255, 255, 255, 1);
}


/*THIS IS WHERE THE MAGIC STARTS!*/

#sidebartoggler {
    display: none;
}

#sidebartoggler:checked + .page-wrapper > .sidebar {
    left: 0px;
}

#sidebartoggler:checked + .page-wrapper > .toggle {
    left: 200px;
}

#sidebartoggler:checked + .page-wrapper > .page-content {
    /* This is OPTIONAL...only if you want to slide the page content to the right as well.
    
    padding-left: 180px;
    
    */
}